.App {
  text-align: center;
  padding: 2em 3vw;
}
#slack{
  display: none;
}

.links > *{
  display: block;
}
.socials img{
  margin: 0 2em;
}

#profile_img{
  width: 88px;
  height: 88px;
}
.footer{
  display: flex;
  justify-content: space-evenly;
  border-top: 1px solid gray;
}
a{
  text-decoration: none;
  color: inherit;
  background-color: #EAECF0;
  margin: 24px 0;
  padding: 24px 32px;
  border: 1px solid #EAECF0;
  border-radius: 8px;

}
